mn-number {
  input {
    font: inherit;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &.has-value .mask, input:focus + .mask {opacity: 1}

  .mask {
    position: absolute;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    max-width: 100%;
    overflow: hidden;

    &:before {
      opacity: 0;
      content: attr(value)
    }

    &:after {
      margin-left: .35em;
    }
  }

  &[percentage] .mask:after {
    content: '%';
  }

  &[currency] .mask:after {
    content: '$';
  }
}
