html
  meta(name='viewport' content='width=device-width, user-scalable=no')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-number.css')

  style.
    mn-number {
      font-size: 1.2rem;
    }

    form {width: 100%}

    @media (min-width: 600px) {
      form {
        padding: 100px;
        box-sizing: border-box;
      }
    }

body
  h2 mn-number
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      mn-form.mn-layout-column.mn-layout-sm-row
        mn-number.flex(placeholder='integer number' min='0' max='100' required name='test')
        mn-number.flex(placeholder='float with precision 3' decimal='3' max='10' min='0' step='0.1')
        mn-number.flex(placeholder='money' currency max='10' min='0')
        mn-number.flex(placeholder='percentage' percentage)
        //- button.mn-button submit

  .docs.mn-layout-container
    mn-code
      npm install --save mn-select

    p And bundle dependencies and main files in <strong>dist/</strong> with your preferred tool.

    h3 usage
    p And then, in your html, you can use the tag <strong class="tag">mn-number</strong> e.g.
    mn-code.html.
      <mn-number placeholder="Number"></mn-number>
      <mn-number placeholder="Number (with max 10)" max="10"></mn-number>

    p The following attributes from inputs are supported in this component: <em>max</em>, <em>min</em> and <em>step</em>.


    h3 integer or float
    p By default, <strong>mn-number</strong> accept only integer numbers, if you want a float number, use the attribute <em>decimal</em> and assign to it a precision, by default is 2, e.g.

     mn-code.html.
      <mn-number placeholder="Float number" decimal></mn-number>
      <mn-number placeholder="Float number with precision 3" decimal="2"></mn-number>

    p You can use too, <em>currency</em> and <em>percentage</em>

    mn-code.html.
      <mn-number placeholder="money" currency></mn-number>
      <mn-number placeholder="money with high precision" currency="4"></mn-number>
      <mn-number placeholder="percentage" percentage></mn-number>

    h3 suffix
    p Maybe you need a different suffix, like <em>10 m</em> (meters), or <em>10 mph</em> (miles per hour). So, to implement your own suffix, just add a CSS selector, like:

    mn-code.css.
      mn-number.mph .mask:after {
        content: 'mph';
      }

    p and sure, add the class <strong>.mph</strong> to your mn-number

  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-number.js')
