html
  meta(name='viewport' content='width=device-width, user-scalable=no')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-number.css')

  style.
    mn-number {
      font-size: 1.2rem;
    }

    form {width: 100%}

    @media (min-width: 600px) {
      form {
        padding: 100px;
        box-sizing: border-box;
      }
    }

body
  h2 mn-number
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      mn-form.mn-layout-column.mn-layout-sm-row.submitted
        mn-number.flex#num(placeholder='height' max='10' min='0' decimal step='0.1')
        mn-number.flex(placeholder='number 2' max='10' min='0')
        mn-number.flex(placeholder='another number')
        //- button.mn-button submit

  .docs.mn-layout-container
    mn-code
      npm install --save mn-select

    p And bundle dependencies and main files in <strong>dist/</strong> with your preferred tool.

    h3 usage
    p And then, in your html, you can use the tag <strong class="tag">mn-number</strong> e.g.
    mn-code.html.
      <mn-number placeholder="Number"></mn-number>
      <mn-number placeholder="Number (with max 10)" max="10"></mn-number>

    p The following attributes from inputs are supported in this component: <em>max</em>, <em>min</em> and <em>step</em>.

  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-number.js')
